{% extends "base.html.twig" %}

{% block body %}

{{form_start(form)}}
    {{form_start(form.firstname)}}
    {# {{form_row(form.avatar)}} #}
    <button>Modifier</button>
{{form_end(form)}}

{% endblock %}